@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script>
        function getJsonQuestions(){
            var jsonQuestions = @(Html.Raw(ViewBag.jsonQuestions));
            return {
                jsonQuestions: jsonQuestions,
                attemptId: @(ViewBag.attemptId)
            };
        }
    </script>
}

<div id="testContainer" class="container">
    <div data-bind="foreach: questions" class="questionContainer">
        <div data-bind="attr: {data: id}, css:{hidden: ($index() != $parent.questionIndex())}" class="panel">
            <div data-bind="css:{error: $parent.status() == 'wrong', correct: $parent.status() == 'correct'}" class="well well-sm">
                <pre>
                    <code data-bind="text: text">
                    </code>
                </pre>
            </div>
            <div>
                <textarea data-bind="value: answer"></textarea>
            </div>
            <div class="control" data-bind="css:{hidden: $parent.inProcess}">
                <button class="answerBtn btn btn-primary" data-bind="attr: {data: id}, click: function(){$parent.sendAnswer($data)}">Answer</button>
                <button class="scipBtn btn btn-default" data-bind="click: $parent.incrementQuestionIndex">Skip</button>
            </div>
        </div>
    </div>
    
    <div data-bind="visible: finished">
        <h2>You have got <b data-bind="text: results"></b> points.</h2>
        <div data-bind="visible: wrongAnswers().length > 0">
            <h4>Check your wrong answers:</h4>
            <div data-bind="foreach: wrongAnswers">
                <div class="panel">
                    <div class="well well-sm">
                        <pre>
                            <code data-bind="text: text"></code>
                        </pre>
                    </div>
                    <div class="well well-sm correct" >Answer: <span data-bind="text: answer"></span></div>
                </div>
            </div>
        </div>
        <h3 data-bind="visible: !wrongAnswers().length">Perfect, you don't have errors!</h3>
    </div>
    <div class="bottom-images"></div>
</div>

@Scripts.Render("~/bundles/test")